li {
  display: flex;
  justify-content: center;
  margin: auto;
}

img {
  border-radius: 10px;
  height: 50px;
}

.table {
  margin-top: 2rem;
}

.delete-btn {
  cursor: pointer;
  border: 1px solid black;
  width: 90px;
  border-radius: 30px;
  color: black;
  margin: auto;
  display: flex;
  justify-content: center;
}

.delete-btn:hover {
  background-color: rgba(175, 25, 25, 0.801);
  border: none;
  transition: 0.7s ease;
  color: white;
}
